  {{SERVICE_NAME}}:
    build:
      context: ./services/{{SERVICE_NAME}}
      dockerfile: Dockerfile
    container_name: ${PROJECT_NAME}_{{SERVICE_NAME}}
    restart: unless-stopped
    ports:
      - "{{SERVICE_PORT}}:{{SERVICE_PORT}}"
    networks:
      - nself_network
